src/main/mule/w4a-send-data-sequencial.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d55a8e34-32a3-4651-ac53-93024353a98d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="w4a-send-data-sequencialFlow" doc:id="06a1f18c-5429-4461-b4a8-7ac38ade5eb5" >
		<http:listener doc:name="Listener" doc:id="b02fe288-5870-4c6d-8aa2-86210388515e" config-ref="HTTP_Listener_config" path="/sendDataSequencial" allowedMethods="POST"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="fd0d438a-ba98-4fe7-a34e-404814e20ce2" variableName="data"/>
		<ee:transform doc:name="TO CSV" doc:id="06463a17-edc7-4568-9176-a6f708e8208b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header=false
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write CSV" doc:id="22411104-f118-4454-b74d-4730d61ea026" path="C:\Users\Natey\Documents\ProjectsInClass\w4a-sequential\output\sent-data.csv" mode="APPEND"/>
		<ee:transform doc:name="Transform Message" doc:id="44915fd9-88f3-4475-80d0-f602bbb8b7cf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.data]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write JSON" doc:id="4f4bea85-2e6c-483e-ac60-fe5b239ebc39" path="C:\Users\Natey\Documents\ProjectsInClass\w4a-sequential\output\sent-data.json" mode="APPEND"/>
		<logger level="INFO" doc:name="Logger" doc:id="a61fe91e-a648-4abd-91af-1438c7309d3e" />
		<ee:transform doc:name="" doc:id="facccede-8053-45e4-a4c2-59b305a25f53" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'message': 'data sent successfully'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
